/* IBM Plex Sans */

@font-face {
  font-family: "IBM Plex Sans";
  src: url("/mint-explained/assets/fonts/IBMPlexSans-Regular-Latin1.woff2") format("woff2"),
       url("/mint-explained/assets/fonts/IBMPlexSans-Regular-Latin1.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Sans";
  src: url("/mint-explained/assets/fonts/IBMPlexSans-Italic-Latin1.woff2") format("woff2"),
       url("/mint-explained/assets/fonts/IBMPlexSans-Italic-Latin1.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Sans";
  src: url("/mint-explained/assets/fonts/IBMPlexSans-Bold-Latin1.woff2") format("woff2"),
       url("/mint-explained/assets/fonts/IBMPlexSans-Bold-Latin1.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* IBM Plex Mono */

@font-face {
  font-family: "IBM Plex Mono";
  src: url("/mint-explained/assets/fonts/IBMPlexMono-Regular-Latin1.woff2") format("woff2"),
       url("/mint-explained/assets/fonts/IBMPlexMono-Regular-Latin1.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
  
/* Mono ist etwas größer */
code,
pre {
  font-size: 0.95em;
}