/* IBM Plex Sans */

@font-face {
  font-family: "IBM Plex Sans";
  src: url("{{ site.baseurl }}/assets/fonts/IBMPlexSans-Regular-Latin1.woff2") format("woff2"),
       url("{{ site.baseurl }}/assets/fonts/IBMPlexSans-Regular-Latin1.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Sans";
  src: url("{{ site.baseurl }}/assets/fonts/IBMPlexSans-Italic-Latin1.woff2") format("woff2"),
       url("{{ site.baseurl }}/assets/fonts/IBMPlexSans-Italic-Latin1.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Sans";
  src: url("{{ site.baseurl }}/assets/fonts/IBMPlexSans-Bold-Latin1.woff2") format("woff2"),
       url("{{ site.baseurl }}/assets/fonts/IBMPlexSans-Bold-Latin1.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* IBM Plex Mono */

@font-face {
  font-family: "IBM Plex Mono";
  src: url("{{ site.baseurl }}/assets/fonts/IBMPlexMono-Regular-Latin1.woff2") format("woff2"),
       url("{{ site.baseurl }}/assets/fonts/IBMPlexMono-Regular-Latin1.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
  
$body-font-family: "IBM Plex Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
$mono-font-family: "IBM Plex Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;

/* Mono ist etwas größer */
code,
pre {
  font-size: 0.95em;
}