@font-face {
    font-family: "IBM_Plex_Mono";
    font-style: normal;
    src: url(/assets/fonts/IBMPlexMono-Regular-Latin1.woff2) format("woff2"), 
         url(/assets/fonts/IBMPlexMono-Regular-Latin1.woff) format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

@font-face {
    font-family: "IBM_Plex_Sans";
    font-style: normal;
    src: url(/assets/fonts/IBMPlexSans-Regular-Latin1.woff2) format("woff2"), 
         url(/assets/fonts/IBMPlexSans-Regular-Latin1.woff) format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }  

@font-face {
    font-family: "IBM_Plex_Sans_Bold";
    font-style: normal;
    src: url(/assets/fonts/IBMPlexSerif-Bold-Latin1.woff2) format("woff2"), 
         url(/assets/fonts/IBMPlexSerif-Bold-Latin1.woff) format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }   
  
$body-font-family: "IBM_Plex_Sans"; //, system-ui, -apple-system, sans-serif;
$header-font-family: "IBM_Plex_Sans_Bold"; //, system-ui, -apple-system, sans-serif;
$mono-font-family: "IBM_Plex_Mono"; //, monospace;  